body {
  background-color: #1b1b1b;
  min-width: 500px;
  min-height: 400px;
}


.container {
  width: 427px;
  height: 58px;
  position: relative;
  top: 50px;
  left: 50px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  background-color: #63636370;
  opacity: 1;
  border: 1px solid rgba(5, 5, 104, 0.308);
  overflow: hidden;
  transition: height 0.3s ease;
  cursor: pointer;
}

.container.expanded {
  height: 150px;
}

.content {
  padding: 10px;
  display: none;
}

.container.expanded .content {
  display: block;
}

.crm-titulo {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  padding: 60px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #59ff10 0%,
    #64fe6d 36.94%,
    #67fd88 55.15%,
    #6afd9d 70.2%,
    #70fcd0 95.5%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textos {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.textos-baixos {
  color: #ffffff;
  text-align: center;
  font-size: 15px;
}
